CodingGoals.xcodeproj/project.xcworkspace/xcuserdata/christophercentrella.xcuserdatad/UserInterfaceState.xcuserstate
CodingGoals.xcodeproj/xcuserdata/christophercentrella.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

**/.DS_Store